<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dibujemos</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <div id="connections"></div>
  <div id="cursors">
    <!-- Aqui pondremos los cursores de nuestros amigos -->
  </div>

  <div  style="display: inline;">

    <canvas id="paper" width="400" height="500" style="float:left;">
      Tu navegador debe soportar canvas
    </canvas>

    <div style="width:100px;height:200px;border: 2px solid;float:left;"></div>
  
  </div> 

  

  

  <hgroup id="instructions">
    <h1>¡Dibujemos!</h1>
    <h2>Dibuja en cualquier lugar con tu cursor</h2>
    <h3>Si quieres un canvas nuevo simplemente refresca la página</h3>
  </hgroup>



<button type="button" id="btnAgrega">Click Me!</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="javascripts/script.js"></script>
  <script src="javascripts/custom-functions.js"></script>

</body>
</html>