<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dibujemos</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="http://cdnplacona.appspot.com/files/drag_drop/example/stylesheets/style.css" media="all" />
</head>
<body>
  <div id="connections"></div>
  <div id="cursors">
    <!-- Aqui pondremos los cursores de nuestros amigos -->
  </div>

  <div  style="display: inline;">

    <canvas id="paper" width="400" height="500" style="float:left;">
      Tu navegador debe soportar canvas
    </canvas>

    <div style="width:100px;height:200px;border: 2px solid;float:left;"></div>
  
  </div> 

  

  

  <hgroup id="instructions">
    <h1>¡Dibujemos Galletas!</h1>
    <h2>Dibuja en cualquier lugar con tu cursor</h2>
    <h3>Si quieres un canvas nuevo simplemente refresca la página</h3>
    

    
    
  </hgroup>

    <div id="wrapper">
	<div id="options">
		<div id="drag1" class="drag"></div> <!-- end of drag1 -->
		<div id="drag2" class="drag"></div> <!-- end of drag2 -->
		<div id="drag3" class="drag"></div> <!-- end of drag3 -->
		<div id="drag4" class="drag"></div> <!-- end of drag4 -->
		<div id="drag5" class="drag"></div> <!-- end of drag5 -->
		<div id="drag6" class="drag"></div> <!-- end of drag6 -->
	</div><!-- end of options -->
	<div id="frame">
		
		
	</div><!-- end of frame -->
</div><!-- end of wrapper -->



<button type="button" id="btnAgrega">Click Me!</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="javascripts/script.js"></script>
  <script src="javascripts/custom-functions.js"></script>
  <script src="javascripts/custom-dragAndDrop.js"></script>

</body>
</html>