<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dibujemos</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="http://cdnplacona.appspot.com/files/drag_drop/example/stylesheets/style.css" media="all" />


 <style>
  #gallery { float: left; width: 65%; min-height: 12em; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
 
  #trash { float: right; width: 32%; min-height: 18em; padding: 1%; background:aqua}
  #trash h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash h4 .ui-icon { float: left; }
  #trash .gallery h5 { display: none; }
  </style>


</head>
<body>
  <div id="connections"></div>
  <div id="cursors">
    <!-- Aqui pondremos los cursores de nuestros amigos -->
  </div>

  <div  style="display: inline;">

    <canvas id="paper" width="400" height="500" style="float:rigth;">
      Tu navegador debe soportar canvas
    </canvas>

    <div style="width:100px;height:200px;border: 2px solid;float:rigth;"></div>
  
  </div> 

  

  

  <hgroup id="instructions">
    <h1>¡Dibujemos Galletas!</h1>
    <h2>Dibuja en cualquier lugar con tu cursor</h2>
    <h3>Si quieres un canvas nuevo simplemente refresca la página</h3>
    

    
    
  </hgroup>

    <div id="wrapper">
	<div id="options">

    <ul id="gallery">
    		<li><div id="drag1" class="drag"></div></li> <!-- end of drag1 -->
    		<li><div id="drag2" class="drag"></div></li> <!-- end of drag2 -->
    		<li><div id="drag3" class="drag"></div></li> <!-- end of drag3 -->
    		<li><div id="drag4" class="drag"></div></li> <!-- end of drag4 -->
    		<li><div id="drag5" class="drag"></div></li> <!-- end of drag5 -->
    		<li><div id="drag6" class="drag"></div></li> <!-- end of drag6 -->
    </ul>    
	</div><!-- end of options -->
	
  <div id="trash" >
    
  </div>

</div><!-- end of wrapper -->



<button type="button" id="btnAgrega">Click Me!</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="javascripts/script.js"></script>
  <script src="javascripts/custom-functions.js"></script>
  <script src="javascripts/custom-dragAndDrop.js"></script>

</body>
</html>